/*----------------------------MOBILE----------------------------*/

@media (max-width: 767px) {


  .header {
    color: #1D0404;
    font-size: 4rem;
    margin: 90px;
  }

  .home-text {
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: 500;
  }

  .home-text:last-child {
    font-size: 30px;
  }

  .homePage-mk-btn {
    background-color: #ffffff;
    color: #400A0A;
    align-items: center;
    margin: 40px 10px;
    padding: 25px 70px;
    border-radius: 100px;
    font-size: 30px;
    font-family: fantasy;
    border: none;
    text-decoration: none;
  }

}

/*----------------------------WEB----------------------------*/

@media (min-width: 768px) {


    .header {
        color: black;
        font-size: 6rem;
        margin: 122px;
    }
    

    .home-text {
        font-size: 25px;
        color: rgb(255, 255, 255);
        font-weight: 600;
    }
    
    .home-text:last-child {
        font-size: 42px;
    }
    
    .homePage-mk-btn {
        background-color: #ffffff;
        color: #400A0A;
        align-items: center;
        margin: 70px 10px;
        padding: 30px 90px;
        border-radius: 100px;
        font-size: 45px;
        text-transform: uppercase;
        font-family: fantasy;
        border: none;
        text-decoration: none;
    }

}