/*----------------Mobile Size---------------*/

@media (max-width: 767px) {

.login-title {
  color: black;
  font-size: 4rem;
  margin-top: 180px;
}

.login-title b {
  color: #ffffff;
}

.login-btn {
  background-color: #ffffff;
  color: crimson;
  align-items: center;
  margin: 0 10px;
  padding: 10px 40px;
  border-radius: 75px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  cursor: pointer;
}

.login-text {
  color: #ffffff;
  text-align: left;
  margin-left: 27%;
  padding-left: 25px;
  font-size: 1.2rem;
  font-weight: 800;
}

.login-input {
  text-align: left;
  padding: 8px 70px;
  border-radius: 25px;
  border-style: none;
}

.login-signup {
  color: rgb(255, 255, 255);
  align-items: center;
  margin: 0 10px;
  padding: 10px 40px;
  border-radius: 75px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bolder;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.login-signup-text {
  margin: 25px;
}

}

/*----------------WEB Size---------------*/

@media (min-width: 768px) {

.login-title {
  color: black;
  font-size: 6rem;
  margin: 120px;
}

.login-title b {
  color: #ffffff;
}

.login-btn {
  background-color: #ffffff;
  color: crimson;
  align-items: center;
  margin: 35px 10px;
  padding: 10px 40px;
  border-radius: 75px;
  font-size: 23px;
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  cursor: pointer;
}

.login-text {
  color: #ffffff;
  text-align: left;
  margin-left: 34%;
  padding-left: 25px;
  font-size: 1.3rem;
  font-weight: 800;
}

.login-input {
  text-align: left;
  padding: 13px 120px;
  border-radius: 25px;
  border-style: none;
}

.login-signup {
  color: rgb(255, 255, 255);
  align-items: center;
  margin: 0 10px;
  padding: 10px 40px;
  border-radius: 75px;
  font-size: 27px;
  text-transform: uppercase;
  font-weight: bolder;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.login-signup-text {
  margin: 45px;
}

}