/*////////////// Common Styles ////////////////*/

body {
    margin: 0;
    padding: 1rem; /* Adjust as needed */
    text-align: center;
  }
  
  /*////////////// Home Page ////////////////*/
  
  .header {
    font-size: 4rem;
  }
  
  .home-text {
    font-size: 18px; /* Adjust as needed */
    font-weight: 500;
  }
  
  .home-text:last-child {
    font-size: 24px; /* Adjust as needed */
  }
  
  .home-btn {
    padding: 15px 40px;
    border-radius: 50px;
    font-size: 20px;
  }
  
  .nav-btn-login,
  .nav-btn-sign {
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 14px;
  }
  
  /*////////////// Login Page ////////////////*/
  
  .title {
    font-size: 4rem;
  }
  
  .login-btn {
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 14px;
  }
  
  /*////////////// Media Queries ////////////////*/
  
  /* Mobile Styles */
  @media (max-width: 767px) {
    body {
      background-color: crimson;
      padding: 0.5rem; /* Adjust as needed */
    }
  
    .header {
      font-size: 3rem;
    }
  
    .home-text {
      font-size: 16px;
    }
  
    .home-text:last-child {
      font-size: 22px;
    }
  
    .home-btn {
      font-size: 18px;
    }
  
    .nav-btn-login {
      /* font-size: 12px; */
    }
  
    .nav-btn-sign {
      background-color: crimson;
    }
  
    .title {
      font-size: 3rem;
    }
  
    .login-btn {
      font-size: 12px;
    }
  }
  
  /* Web Styles */
  @media (min-width: 768px) {
    body {
      background-color: crimson;
    }
  
    .header {
      color: black;
    }
  
    .home-text {
      color: rgba(255, 255, 255, 0.807);
    }
  
    .home-btn,
    .nav-btn-login,
    .nav-btn-sign {
      color: black;
    }
  
    .nav-btn-login {
      background-color: #ffffff;
    }
  
    .nav-btn-sign {
      background-color: crimson;
    }
  
    .nav-btn:hover {
      color: crimson;
    }
  }
  