body {
  margin: auto 0;
}

h2 {
  /* font-size: 2rem; */
  font-style: bold;
/*   border-bottom: 1px solid #fff; */
  margin: 0.5rem 0 0.5rem 0;
}

.rInfo {
  background-color: rgb(95, 8, 8);
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  border: 1px solid #fff;
  border-radius: 1rem;
}

.rInfo-right {
  width: 40vw;
  margin: 2rem;
}

img {
  width: 200px;
  border-radius: 0.5rem;
  margin: 2rem;
}

#cuisine {
  display: flex;
  justify-content: space-around;
  font-size: 0.8rem;
}

.recipe-button {
  background-color: white;
  /* border: 1px solid white; */
  border-radius: 2rem;
 
  color: crimson;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
}

.update {
  background-color: crimson;
  border: 1px solid white;
  border-radius: 2rem;

  color: white;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
}

#buttons {
  display:flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: space-around;
}
