/*----------------------------MOBILE----------------------------*/

@media (max-width: 767px) {


    body {
        margin: 0;
        padding: 0.5rem;
        text-align: center;
        background-color: crimson;
        font-family: "Roboto", sans-serif;
      }


}

/*----------------------------WEB----------------------------*/

@media (min-width: 768px) {


    body {
        margin: 0;
        padding: 2rem;
        text-align: center;
        background-color: crimson;
        font-family: "Roboto", sans-serif;
      }


}